##################################
# OS / Editor
##################################
.DS_Store
.idea/
.vscode/
*.swp
*.swo

##################################
# Python / Virtualenv
##################################
.venv/
__pycache__/

##################################
# Ansible (SENSITIVE)
##################################
ansible/inventory/
ansible/inventory.ini
ansible/hosts
ansible/*.retry
ansible/**/*.retry
ansible/vault.yml
ansible/vault.yaml
ansible/group_vars/**/secrets.yml
ansible/host_vars/**/secrets.yml

##################################
# SSH / Keys (CRITICAL)
##################################
*.pem
*.key
id_rsa
id_rsa.pub
.ssh/

##################################
# Terraform (SENSITIVE)
##################################
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars


##################################
# Jenkins
##################################
jenkins/secrets/
jenkins/credentials/
jenkins/*.key
jenkins/*.env

##################################
# Backend (Spring / Java)
##################################
**/target/
**/.env
**/application-prod.yml
**/application-prod.properties

##################################
# Frontend (Node / Angular / React)
##################################
**/node_modules/
**/dist/
**/.env

##################################
# Logs / temp
##################################
*.log
*.retry
infra/terraform/.terraform.lock.hcl
