[defaults]
inventory = inventory/inventory.ini
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
private_key_file = ~/.ssh/project1u.pem
remote_user = ubuntu


[ssh_connection]
pipelining = True
