---
- name: Deploy Spring Boot Docker Container
  hosts: backend
  become: yes

  vars:
    database_ip: "{{ groups['database'][0] }}"

  tasks:
    - name: Check if Docker is installed
      command: docker --version
      register: docker_check
      ignore_errors: yes

    - name: Install Docker only if missing
      apt:
        name: docker.io
        state: present
        update_cache: yes
      when: docker_check.rc != 0

    - name: Ensure Docker is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Pull latest backend image
      shell: docker pull xsu0131/user-management-backend:latest

    - name: Stop existing container
      shell: docker stop backend-app || true

    - name: Remove existing container
      shell: docker rm backend-app || true

    - name: Run backend container
      shell: |
        docker run -d \
          --name backend-app \
          --restart always \
          -p 8080:8080 \
          -e SPRING_DATASOURCE_URL=jdbc:mysql://{{ database_ip }}:3306/user_management \
          -e SPRING_DATASOURCE_USERNAME=admin \
          -e SPRING_DATASOURCE_PASSWORD=admin \
          -e SPRING_JPA_HIBERNATE_DDL_AUTO=update \
          -e JWT_SECRET=dGhpc0lzQVZlcnlMb25nU2VjcmV0S2V5Rm9ySldUVG9rZW5HZW5lcmF0aW9uMTIzNDU2Nzg5MA== \
          -e JWT_EXPIRATION=86400000 \
          -e AWS_ACCESS_KEY={{ aws_access_key }} \
          -e AWS_SECRET_KEY={{ aws_secret_key }} \
          -e AWS_S3_REGION={{ aws_s3_region }} \
          xsu0131/user-management-backend:latest

    - name: Wait for container to start
      wait_for:
        port: 8080
        delay: 10
        timeout: 60

    - name: Show running containers
      shell: docker ps
      register: docker_ps

    - name: Display container status
      debug:
        msg: "{{ docker_ps.stdout }}"
