---
- name: Deploy Spring Boot Docker Container
  hosts: backend
  become: yes

  vars:
    image_name: "xsu0131/user-management-backend"
    image_tag: "{{ image_tag | default('latest') }}"
    database_ip: "{{ groups['database'][0] }}"

  tasks:
    # -----------------------------------
    # Check if Docker exists
    # -----------------------------------

    - name: Check if Docker is installed
      command: docker --version
      register: docker_check
      ignore_errors: yes

    - name: Install Docker only if missing
      apt:
        name: docker.io
        state: present
        update_cache: yes
      when: docker_check.failed

    - name: Ensure Docker is running
      service:
        name: docker
        state: started
        enabled: yes
      when: docker_check.failed

    # -----------------------------------
    # Pull Image
    # -----------------------------------

    - name: Pull backend image
      command: docker pull {{ image_name }}:{{ image_tag }}

    # -----------------------------------
    # Stop Old Container
    # -----------------------------------

    - name: Stop existing container
      command: docker stop backend-app
      ignore_errors: yes

    - name: Remove existing container
      command: docker rm backend-app
      ignore_errors: yes

    # -----------------------------------
    # Run New Container
    # -----------------------------------

    - name: Run backend container
      command: >
        docker run -d
        --name backend-app
        --restart always
        -p 8080:8080
        -e SPRING_DATASOURCE_URL=jdbc:mysql://{{ database_ip }}:3306/user_management
        -e SPRING_DATASOURCE_USERNAME=admin
        -e SPRING_DATASOURCE_PASSWORD=admin
        -e SPRING_JPA_HIBERNATE_DDL_AUTO=update
        -e JWT_SECRET=dGhpc0lzQVZlcnlMb25nU2VjcmV0S2V5Rm9ySldUVG9rZW5HZW5lcmF0aW9uMTIzNDU2Nzg5MA==
        -e JWT_EXPIRATION=86400000
        {{ image_name }}:{{ image_tag }}

    # -----------------------------------
    # Wait for Service
    # -----------------------------------

    - name: Wait for container to start
      wait_for:
        port: 8080
        delay: 10
        timeout: 60

    - name: Show running containers
      command: docker ps
      register: docker_ps

    - debug:
        var: docker_ps.stdout
